@import "../util/defaultTemplate";

.kontlr-popup__generic__row {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.kontrl-popup__generic__item {
  width: 100%;
}

.kontrl-popup__generic__label {
  color: rgba(#223550, 0.8);
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 7px;
  display: block;
}

.kontrl-popup__generic__footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.kontrl-popup__generic__button {
  background-color: #1E77F2;
  line-height: 1;
  padding: 15px 30px;
  font-family: "Barlow", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: darken(#1E77F2, 10%);
  }

  &:active {
    background-color: #1E77F2;
  }
}


// -
// InputItem
// -
.kontrl-popup__generic__input {
  width: 100%;
  border: 1px solid #CCD4DB;
  color: #223550;
  font-size: 18px;
  font-family: "Barlow", "Helvetica", sans-serif;
  line-height: 126%;
  font-weight: 500;
  padding: 15px 17px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: #1E77F2;
  }
}

// -
// ImageItem
// -
.kontrl-popup__generic__image-box {
  width: 100%;
  padding-top: 40%;
  border: 1px solid #CCD4DB;
  border-radius: 4px;
  position: relative;
  cursor: pointer;

  &:hover {
    border-color: #1E77F2;
  }
}

.kontrl-popup__generic__image-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  color: rgba(#223550, 0.5);
  font-weight: 600;
  margin: 0;
}

.kontrl-popup__generic__image-box:hover .kontrl-popup__generic__image-text {
  z-index: 2;
  color: rgba(#223550, 1);
}

.kontrl-popup__generic__image-input {
  display: none;
}

.kontrl-popup__generic__image-preview {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 4px;
  object-fit: contain;

  &--active {
    display: block;
  }
}

.kontrl-popup__generic__image-box:hover .kontrl-popup__generic__image-preview {
  opacity: 0.5;
}
